@import-normalize; /* bring in normalize.css styles */

// https://fontlibrary.org/en/font/poppins
@import url(https://fontlibrary.org//face/poppins);

body {
    margin: 0;
    background-color: #1e1e1e;
    color: #cccccc;
    font-size: 15px;
    line-height: 1.3;
    font-weight: normal;
    font-style: normal;
    font-family: 'PoppinsRegular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #3ee7cf;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}  

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
    background-color: #0e639c;
    color: #fff;
    font-size: inherit;
    font-family: inherit;
    padding: .3rem .6rem;
    margin: .5rem 0;
    border: 0;
}

input, textarea {
    border: 0;
    background-color: #3c3c3c;
    color: #cccccc;
    font-size: inherit;
    font-family: inherit;
    
    $h-padding: .5rem;
    padding: .15rem $h-padding;
    width: calc(100% - #{2 * $h-padding});
}

label.block-label {
    display: block;
    margin: .5rem 0;
}